.dashboard-score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.dashboard-score__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-score__scoreboard-item {
  margin: 0 10px;
  font-size: 2em;
}
