body {
  background-color: #fafafa;
}
.main-content {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.main-content__left {
  height: 100%;
  width: 50%;
  overflow: scroll;
}

.main-content__right {
  height: 100%;
  width: 50%;
}

.right-side__section-1 {
  height: 50%;
  width: 100%;
  overflow: scroll;
}

.right-side__section-2 {
  height: 50%;
  width: 100%;
  overflow: scroll;
}
